html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #000000, #0B3D91);
  color: #eaeaea;
}


.search-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}
